body {
  margin: 0;
  color: white;
  font-family: 'Arial', 'Optima', 'Helvetica',
    'Verdana', 'Roboto', 'Trebuchet MS', 'Noto Sans', 'Helvetica Neue',
    sans-serif;
  background-color:rgb(13, 7, 17)
}


table {
  border-spacing: 10cm;
  align-content: center;
  column-width: auto;
  background-color: white;
}
